<div ng-if="narrowItDownCtrl.items.length>0">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Short Desc.</th>
      <th>Description</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in narrowItDownCtrl.items">
      <th scope="row">{{$index}}</th>
      <td>{{ item.name }}</td>
      <td>{{ item.short_name }}</td>
      <td>{{ item.description }}</td>
      <td><button class="btn btn-xs" ng-click="narrowItDownCtrl.onRemove({index: $index});">Don't want this one!</button></td>
    </tr>
  </tbody>
</table>
</div>
<div ng-if="!narrowItDownCtrl.items">
  Nothing found
</div>
